<div>
	<div class="row">
		<div class="col-xs-3">
			<div class="input-group">
                <div class="input-group-addon"> 任务状态:</div><select class="form-control input-sm" ng-model="taskState" ng-options="taskState.name for taskState in taskStates" ></select>
            </div>
		</div>
		<div class="col-xs-3">
			<div class="input-group">
                <div class="input-group-addon"> 任务类型:</div><select class="form-control input-sm"  ng-model="taskType" ng-options="taskType.name for taskType in taskTypes"></select>
            </div>
		</div>
	</div>
	<div style="margin-top:10px;">
		<button class="btn btn-default" ng-click="selectPage()">{{taskGridOptions.currentPage}}</button>
		<button class="btn btn-default" ng-click="refresh()">refresh</button>
		<button class="btn btn-default" ng-click="reload()">reload</button>
		<grid grid-options="taskGridOptions"></grid>
	</div>
<!-- 
	<uib-tabset>
	    <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
	    <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
  	</uib-tabset>
  	 -->
</div>